/* FONT FAMILIES */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Anuphan:wght@100;200;300;400;500;600;700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ADDITIONAL OPTIONS */
$enable-negative-margins: true;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";

/* DEFAULT MAP OVERRIDES */
$my-primary-color: #FFAF38;
$my-secondary-color: #F9F6EE;
$my-white-color: #FFF;
$my-black-color: #383434;
$my-salmon-color: #F05E5E;
$my-yellow-white-color: #FAF9F6;
$my-grey-color: #6F6F6F;
$my-light-grey-color: #D9DCD9;
$my-green-color: #64B159;

$primary-font: "Anuphan", sans-serif;
$secondary-font: "Fira Sans Condensed", sans-serif;
$display-font: "Amaranth", sans-serif;

$default-border-radius: 1em;
$transition-duration: 200ms;
$darken-strength: 15%;

@import "../node_modules/bootstrap/scss/variables";

/* DEFAULT MAP OVERRIDES */
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

@import "../node_modules/bootstrap/scss/utilities/api";

/* Default / Normalize / Etc. */

html {
  position: relative;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  font-family: $primary-font;
  background-color: $my-secondary-color;
}

* {
  font: inherit;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.my-text-primary { color: $my-primary-color; }
.my-text-secondary { color: $my-secondary-color; }
.my-text-black { color: $my-black-color; }
.my-text-grey { color: $my-grey-color; }
.my-text-light-grey { color: $my-light-grey-color; }
.my-text-green { color: $my-green-color; }
.my-text-salmon { color: $my-salmon-color; }

.my-bg-primary { background-color: $my-primary-color; }
.my-bg-secondary { background-color: $my-secondary-color; }
.my-bg-white { background-color: $my-white-color; }
.my-bg-green { background-color: $my-green-color; }
.my-bg-salmon { background-color: $my-salmon-color; }
.my-bg-grey { background-color: $my-grey-color; }
.my-bg-yellow-white { background-color: $my-yellow-white-color; }
.my-bg-light-grey { background-color: $my-light-grey-color; }

.font-primary { font-family: $primary-font !important; }
.font-secondary { font-family: $secondary-font !important; }
.font-display { font-family: $display-font !important; }

.lh-0 { line-height: 0; }
.lh-1 { line-height: 1em; }
.lh-2 { line-height: 2em; }
.lh-3 { line-height: 3em; }
.lh-4 { line-height: 4em; }
.lh-5 { line-height: 5em; }
.lh-6 { line-height: 6em; }

input {
  &:-webkit-autofill::first-line {
    font-size: inherit;
  }
}

button {
  outline: none;
}

/* Badges */
.my-badge {
  font-weight: bold;
  height: fit-content;
  padding: 0.3em 1em;
  border-radius: 100vw;
  text-decoration: none;
  border: none;
}

/* Buttons */
.my-btn {
  display: block;
  color: $my-black-color;
  font-family: $secondary-font;
  padding: 0.4em 1.4em 0.3em 1em;
  border-radius: 100vw;
  transition: background-color $transition-duration;
  text-decoration: none;
  border: none;
  &.no-icon { padding: 0.4em 1em !important; }
  &.btn-block { width: 100%; }
  &.disabled { filter: brightness(0.9); cursor: wait; }

  &:hover { color: $my-black-color; }
}

.my-btn-primary {
  color: $my-black-color;
  background-color: $my-primary-color;
  &:hover {
    color: $my-black-color;
    background-color: darken($my-primary-color, $darken-strength);
  }
}

.my-btn-green {
  color: $my-white-color;
  background-color: $my-green-color;
  &:hover {
    color: $my-white-color;
    background-color: darken($my-green-color, $darken-strength);
  }
}

.my-btn-salmon {
  color: $my-white-color;
  background-color: $my-salmon-color;
  &:hover {
    color: $my-white-color;
    background-color: darken($my-salmon-color, $darken-strength);
  }
}

.my-btn-transparent {
  color: $my-black-color;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.4);
  &:hover {
    color: $my-black-color;
    background: transparent;
  }
}

/* Input Container */
.input-container {
  input, select {
    padding: 0.5em 1em;
    font-size: 1.2em;
    border: none;
    background: $my-white-color;
    border-radius: $default-border-radius;
    width: 100%;
    outline: 1px solid darken($my-secondary-color, 30%);
  }
}

/* Page not found */
.page-not-found {
  height: 80vh;
  display: grid;
  place-content: center;
}

/* Profile Image */
.profile-icon {
  color: $my-grey-color;
  background-color: $my-white-color;
  border-radius: 100vw;
}

/* Orders Navbar */
.order-navbar {
  .nav-link {
    color: $my-black-color;
    border-radius: 100vw;
    background-color: transparent;
    transition: background-color $transition-duration;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.current {
      background-color: $my-primary-color;
      cursor: default;
    }
  }
}

/* Main Navbar */
.navbar.main {
  background-color: $my-white-color;

  .container {
    transform: translateY(-100px);
    transition: transform 500ms;
    transition-delay: 500ms;
  }
  .container.show {
    transform: translateY(0);
  }

  .nav-link {
    color: $my-black-color;
    border-radius: 100vw;
    background-color: transparent;
    transition: background-color $transition-duration;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.current {
      background-color: $my-black-color;
      color: $my-white-color;
      cursor: default;
    }

    padding: 0.3em 1em;
  }

  .toggler {
    color: $my-black-color;
    border-radius: $default-border-radius;
    background-color: transparent;
    transition: background-color $transition-duration;
    border: none;
    padding: 0.3em 0.5em;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .icon-user {
    width: 50px;
    height: 50px;
    border-radius: 100vw;
    color: $my-grey-color;
  }
  .preview-img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100vw;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }
}

/* Authentication Navbar */
body:has(.navbar.authentication) {
  background-image: url("../src/images/background-blur.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw !important;
  height: 100vh !important;
}

.navbar.authentication .navbar-brand {
  .navbar-brand {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.4);
    padding: 0.2em 1.5em;
    border-radius: $default-border-radius;
  }

  .toggler {
    color: $my-black-color;
    border-radius: $default-border-radius;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.4);
    transition: background-color $transition-duration;
    border: none;
    padding: 0.5em 1em;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

/* Authentication */
.authentication-container {
  .card {
    width: min(100%, 700px);
    margin-top: 3vw;
    background: #F7F6F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: $default-border-radius;
  }
}

/* Banner */
.home {
  .my-banner-container {
    width: 100%;
    height: max(250px, 30vw);
    overflow: hidden;
    position: relative;
    background-image: url("../src/images/background-blur.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .my-banner {
      width: auto;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/* Profile upload form */
.profile-upload-form {
  width: 200px;
  height: 200px;

  .upload-container {
    & > * {
      position: absolute;
    }

    & > input {
      font-size: 0;
      width: 50px;
      height: 50px;
      left: 150px;
      top: 150px;
      opacity: 0;
      z-index: 1;

      &:hover { cursor: pointer; }
      &:hover + .icon-edit { background-color: darken($my-primary-color, $darken-strength); }
    }

    & > .icon-edit {
      width: 30px;
      height: 30px;
      left: 150px;
      top: 150px;
      padding: 10px;
      background-color: $my-primary-color;
      color: $my-black-color;
      border-radius: 100vw;
      transition: background-color $transition-duration;
    }
  }

  .icon-user {
    font-size: 200px;
    background-color: $my-white-color;
    color: $my-grey-color;
    border-radius: 100vw;
  }
  .preview-img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100vw;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }
}

.modal-profile-edit {
  border: none;
  border-radius: $default-border-radius;
  background: url("./images/background.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  .modal-box {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border: 1px solid(100, 100, 100, 0.5);
    border-radius: $default-border-radius;
  }
}

/* Order card */
.order-card {
  padding-top: 8em;
  border-radius: 20px;

  & > button.clickable {
    padding-top: 4em !important;
    border-radius: $default-border-radius;
    background-color: $my-white-color;
    text-decoration: none;
    border: none;
    position: relative;
    transform: scale(1) translateY(0) !important;
    transition: transform $transition-duration !important;

    &:after {
      position: absolute;
      content: "";
      background: url("./images/background.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 65%;
      left: 0;
      top: -50%;
      border-radius: $default-border-radius $default-border-radius 0 0;
      z-index: -1;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      transform: scale(1.03) translateY(-1%) !important;
    }
    & > .profile-icon {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-65%);
      width: 10em;
      height: 10em;
      border-radius: 100vw;
      overflow: hidden;

      & > svg {
        width: 10em;
        height: 10em;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 10em;
        height: 10em;
        object-fit: cover;
      }
    }
  }
}

.modal-order-card {
  border: none;
  border-radius: $default-border-radius;
  background: url("./images/background.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  .modal-data {
    margin-top: 7em;
    background-color: $my-secondary-color;
    border-radius: $default-border-radius;

    & > .profile-icon {
      width: 10em;
      height: 10em;
      position: absolute;
      top: 7%;
      border-radius: 100vw;
      overflow: hidden;

      & > svg {
        width: 10em;
        height: 10em;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 10em;
        height: 10em;
        object-fit: cover;
      }
    }
  }

  .divider {
    border-top: 2px solid darken($my-secondary-color, 50%);
    width: 100%;
    margin: 1em;
  }
}

/* Order Carousel */
.order-carousel {
  background-color: $my-white-color;
  border-radius: $default-border-radius;
  border: 2px solid darken($my-secondary-color, 15%);

  .carousel-control-prev, .carousel-control-next {
    top: 31%;
    width: 2.5em !important;
    height: 2.5em !important;
    color: $my-black-color;
    opacity: 0.5;
  }

  .carousel-inner {
    .carousel-item {
      .my-badge {
        width: fit-content;
        font-size: 0.9em;
      }

      .profile-icon {
        width: 3.2em;
        height: 3.2em;
        position: relative;
        border-radius: 100vw;
        overflow: hidden;

        & > svg {
          width: 3.2em;
          height: 3.2em;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 3.2em;
          height: 3.2em;
          object-fit: cover;
        }
      }
    }
  }
}

/* Scoreboard */
.scoreboard {
  .scoreboard-progress-bar {
    .profile-icon {
      width: 10em;
      height: 10em;
      position: relative;
      border-radius: 100vw;
      overflow: hidden;

      & > svg {
        width: 10em;
        height: 10em;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 10em;
        height: 10em;
        object-fit: cover;
      }
    }

    .bar {
      width: 100%;
      background: $my-primary-color;
      color: darken($my-primary-color, 30%);
    }
  }
}